.not-found {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;
}

.not-found h1 {
    font-size: 1.8rem;
    font-weight: var(--title-bold);
}