/* Style profile page */

/* Page layout */

.buttons,
.main .profile {
    display: flex;
    justify-content: flex-start;
}

.main .profile {
    align-items: center;
    max-width: 600px;
    min-height: calc(100dvh  - (var(--gap) * 2));
    line-height: var(--line-height);
    font-size: var(--entry-size);
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* Profile name */

.profile .profile_inner h1 {
    font-size: 2.5rem;
    margin-top: 8px;
}

/* Profile picture */

.profile img {
    border-radius: 16px;
    border: 1px solid var(--border);    
}

/* Buttons */

.buttons {
    flex-wrap: wrap;
}

.button {
    background: var(--entry);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    margin: 6px 12px 6px 0px;
    padding: 10px;
    transition: all 0.15s ease-in-out;
}

.button-inner {
    padding: 0 8px;
}

.button:hover {
    background: var(--graypurple);
    border: 1px solid var(--purple);
}