.terms-tags li {
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--entry);
    border-radius: 6px;
    border: 1px solid var(--border);
    font-size: var(--home-size);
}

.terms-tags a:hover {
    background: var(--graypurple);
    border: 1px solid var(--purple);
}

